.THIS .slds-modal__container{
	max-width: 80rem !important;
	width:90% !important;         
}
.THIS .slds-combobox__input-entity-icon + .slds-input-has-icon_left {
    padding-left: 2rem;
}

.THIS .full-size {
    width:100%;
}
